variables.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
my_model2/saved_models/1/variables/variables.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
my_model2/saved_models/1/variables/variables.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
Weights/weight.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
Weight/weight.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
